<div class='container'>
<h3>Why?</h3>
For fun. People do baby pools all the time.

<h3>How do I bet on a date?</h3>
You have several options:<br>
 * Click on a date in the calendar, then click on the big Buy button.<br>
 * Use 'Make a Bet' on your account page to submit a bet.


<h3>How does it work?</h3>
Everyone bets with imaginary money points. Because, laws. After the baby is born, 'points' will be collected from participants via cash or check.

<h3>And if I win?</h3>
Then you get the pot.

<h3>If no one wins?</h3>
Then the money goes to a charity of Will and Amber's choice.

<h3>No, seriously, why do you guys care so much about Wamber Jr.?</h3>
WE HAVE NO LIVES. JEEZ. LEAVE US ALONE.


</div>