<div class='jumbotron'>
 <div class='container'>
 <h1>Keckley Baby Bet</h1>

 </div>
</div>
<div class='container'>
 
 <div class='row'>
 <div class='col-md-4'>
 <h2>Month</h2>
 <div id="calendar">
 <% calendar_for @bets do |calendar| %>
 	<%calendar.day do |date, bets| %>
 	<% end %>
 	<% end %>
 </div>
 </div>
 <div class='col-md-4'>
 <h2>Month</h2>
 <p>Start posting cool content. Max 160 characters twitter style</p>
 </div>
 <div class='col-md-4'>
 <h2>Month</h2>
 <p>Share with your friends on facebook</p>
 </div>
 </div>
</div>